<header>
  <img class="_mainLogo" src="{{ '/images/librarium.png' | relative_url }}" alt="Librarium" />
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/tutoriales' | relative_url }}">Tutoriales</a></li>
    <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
  </ul>
</nav>
